# === Python cache ===
__pycache__/
*.py[cod]
*.egg-info/

# === Virtual environment ===
.venv/

# === Jupyter notebooks checkpoints (si jamais tu en as) ===
.ipynb_checkpoints/

# === VSCode / IDE ===
.vscode/
.idea/
.DS_Store

# === Build / dist ===
build/
dist/

# Sphinx (ta build locale)
docs/build/
docs/source/_autosummary/
# (au cas où tu utilises l'autre nom)
docs/_build/