# === Python cache ===
__pycache__/
*.py[cod]
*.egg-info/

# === Virtual environment ===
.venv/

# === Jupyter notebooks checkpoints (si jamais tu en as) ===
.ipynb_checkpoints/

# === VSCode / IDE ===
.vscode/
.idea/

# === Build / dist ===
build/
dist/

# === Sphinx docs build ===
docs/_build/
